body {
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.375;
  overflow-x: hidden;
  min-width: 900px;
  color: #fff;
  background: #849d8f -webkit-linear-gradient(top, rgba(255, 255, 255, .2), transparent 647px);
  background: #849d8f linear-gradient(to bottom, rgba(255, 255, 255, .2), transparent 647px);
}

.homepage {
  background-image: none;
}

h1,
h2 {
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
}

h1 {
  font-size: 35px;
  line-height: 41px;
  margin-top: 0;
  margin-bottom: 25px;
}

h2 {
  font-size: 24px;
}

a {
  color: currentColor;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.container {
  max-width: 860px;
  max-width: 1146px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2.3%;
  padding-left: 2.3%;
}

.clearfix::after {
  display: table;
  clear: both;
  content: '';
}

.slider,
.hits,
.features,
.news-preview,
.subscribe {
  margin-bottom: 40px;
}

.catalog {
  margin-bottom: 60px;
}

/*================================
=            Dropdown            =
================================*/

.dropdown-trigger {
  position: relative;
}

.dropdown {
  position: absolute;
  z-index: 2;
  top: 100%;
  visibility: hidden;
  margin-top: 5px;
  padding: 20px 15px;
  -webkit-transition: opacity .2s, visibility 0s .2s, -webkit-transform .2s;
  transition: opacity .2s, visibility 0s .2s, -webkit-transform .2s;
  transition: transform .2s, opacity .2s, visibility 0s .2s;
  transition: transform .2s, opacity .2s, visibility 0s .2s, -webkit-transform .2s;
  -webkit-transform: translateY(15px);
  transform: translateY(15px);
  opacity: 0;
  color: #323232;
  border-radius: 6px;
  background-color: #f8f7f4;
  box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
}

.dropdown::before {
  position: absolute;
  right: 0;
  bottom: 100%;
  left: 0;
  height: 5px;
  content: '';
}

.dropdown-trigger:hover .dropdown {
  visibility: visible;
  -webkit-transition: opacity .2s, visibility 0s, -webkit-transform .2s;
  transition: opacity .2s, visibility 0s, -webkit-transform .2s;
  transition: transform .2s, opacity .2s, visibility 0s;
  transition: transform .2s, opacity .2s, visibility 0s, -webkit-transform .2s;
  -webkit-transform: none;
  transform: none;
  opacity: 1;
}

/*=====  End of Dropdown  ======*/

/*===============================
=            Buttons            =
===============================*/

.button {
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all .15s;
  transition: all .15s;
  vertical-align: middle;
  text-decoration: none;
  color: #fff;
  border: none;
  border-radius: 50px;
  outline: none;
  background: #ec583c;
  background: -webkit-linear-gradient(top, #f26843, #ca3824);
  background: linear-gradient(to bottom, #f26843, #ca3824);
  box-shadow: 0 2px 2px rgba(85, 8, 0, .64);
}

.button:hover,
.button:focus {
  background: #ee7561;
  background: -webkit-linear-gradient(top, #f58669, #ec6f5e);
  background: linear-gradient(to bottom, #f58669, #ec6f5e);
  box-shadow: 0 1px 2px #ac1000;
}

.button:active {
  background: #dc5539;
  background: -webkit-linear-gradient(top, #d74632, #e1613e);
  background: linear-gradient(to bottom, #d74632, #e1613e);
  box-shadow: inset 0 2px 2px #942718;
}

/*=====  End of Buttons  ======*/

/*=============================
=            Icons            =
=============================*/

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  fill: currentColor;
}

/*=====  End of Icons  ======*/

/*=======================================
=            Form's elements            =
=======================================*/

input[type='text'],
input[type='password'],
input[type='search'],
input[type='email'],
textarea {
  font-family: inherit;
  font-size: 14px;
  font-weight: bold;
  line-height: 42px;
  box-sizing: border-box;
  width: 100%;
  height: 44px;
  padding: 0 15px;
  -webkit-transition: border-color .2s, box-shadow .2s;
  transition: border-color .2s, box-shadow .2s;
  border: 1px solid rgba(178, 178, 178, .52);
  border-radius: 5px;
  outline: none;
}

input[type='text']::-webkit-input-placeholder,
input[type='password']::-webkit-input-placeholder,
input[type='search']::-webkit-input-placeholder,
input[type='email']::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-family: inherit;
  font-weight: normal;
  opacity: 1;
  color: #999;
}

input[type='text']::-moz-placeholder,
input[type='password']::-moz-placeholder,
input[type='search']::-moz-placeholder,
input[type='email']::-moz-placeholder,
textarea::-moz-placeholder {
  font-family: inherit;
  font-weight: normal;
  opacity: 1;
  color: #999;
}

input[type='text']:-ms-input-placeholder,
input[type='password']:-ms-input-placeholder,
input[type='search']:-ms-input-placeholder,
input[type='email']:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-family: inherit;
  font-weight: normal;
  opacity: 1;
  color: #999;
}

input[type='text']::placeholder,
input[type='password']::placeholder,
input[type='search']::placeholder,
input[type='email']::placeholder,
textarea::placeholder {
  font-family: inherit;
  font-weight: normal;
  opacity: 1;
  color: #999;
}

input[type='text']:hover,
input[type='password']:hover,
input[type='search']:hover,
input[type='email']:hover,
textarea:hover {
  box-shadow: inset 0 0 0 1px rgba(178, 178, 178, .52);
}

input[type='text']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='email']:focus,
textarea:focus {
  border-color: rgba(46, 136, 228, .52);
  box-shadow: inset 0 0 0 1px rgba(46, 136, 228, .52);
}

textarea {
  min-height: 155px;
  max-height: 255px;
  resize: vertical;
}

/* Floating label */

.floating-label {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  vertical-align: top;
}

.floating-label input:focus::-webkit-input-placeholder,
.floating-label textarea:focus::-webkit-input-placeholder {
  opacity: 0;
}

.floating-label input:focus::-moz-placeholder,
.floating-label textarea:focus::-moz-placeholder {
  opacity: 0;
}

.floating-label input:focus:-ms-input-placeholder,
.floating-label textarea:focus:-ms-input-placeholder {
  opacity: 0;
}

.floating-label input:focus::placeholder,
.floating-label textarea:focus::placeholder {
  opacity: 0;
}

input:focus + .floating-label__text,
textarea:focus + .floating-label__text,
input:valid + .floating-label__text,
textarea:valid + .floating-label__text {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

input:focus + .floating-label__text,
textarea:focus + .floating-label__text {
  color: #5b9ddf;
}

.floating-label__text {
  font-size: 11px;
  line-height: 13px;
  position: absolute;
  bottom: 100%;
  left: 15px;
  margin-bottom: 2px;
  -webkit-transition: opacity .1s, color .15s, -webkit-transform .15s;
  transition: opacity .1s, color .15s, -webkit-transform .15s;
  transition: transform .15s, opacity .1s, color .15s;
  transition: transform .15s, opacity .1s, color .15s, -webkit-transform .15s;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  opacity: 0;
  color: #999;
}

.floating-label--active .floating-label__text {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.floating-label--focusing .floating-label__text {
  color: #5b9ddf;
}

/* Custom control */

.custom-control {
  font-weight: 500;
  position: relative;
  margin-left: 15px;
  padding-left: 31px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}

.custom-control:first-child {
  margin-left: 0;
}

.filter-form__section--filler .custom-control {
  margin-left: 17px;
  padding-left: 33px;
}

.filter-form__section--filler .custom-control:first-child {
  margin-left: 0;
}

.custom-control > input {
  display: none;
}

.custom-control__indicator {
  position: absolute;
  left: 0;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  -webkit-transition: border .05s;
  transition: border .05s;
  vertical-align: middle;
  border: 1px solid #f8f7f4;
  background-repeat: no-repeat;
  background-position: center;
}

.custom-control:hover .custom-control__indicator,
input:checked + .custom-control__indicator,
input:checked:disabled + .custom-control__indicator {
  border-width: 2px;
}

input:disabled + .custom-control__indicator,
input:disabled ~ .custom-control__text {
  opacity: .4;
}

.custom-control input:disabled + .custom-control__indicator {
  border-width: 1px;
}

.custom-control__indicator::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  margin: auto;
  content: '';
  -webkit-transition: opacity .2s, -webkit-transform .2s;
  transition: opacity .2s, -webkit-transform .2s;
  transition: transform .2s, opacity .2s;
  transition: transform .2s, opacity .2s, -webkit-transform .2s;
  opacity: 0;
}

input:checked + .custom-control__indicator::before {
  opacity: 1;
}

input[type='checkbox'] + .custom-control__indicator {
  border-radius: 4px;
}

input[type='checkbox'] + .custom-control__indicator::before {
  width: 11px;
  height: 6px;
  -webkit-transform: rotate(-45deg) scale(.5);
  transform: rotate(-45deg) scale(.5);
  border-bottom: 3px solid currentColor;
  border-left: 3px solid currentColor;
}

input[type='checkbox']:checked + .custom-control__indicator::before {
  -webkit-transform: translateY(-1px) rotate(-45deg) scale(1);
  transform: translateY(-1px) rotate(-45deg) scale(1);
}

input[type='radio'] + .custom-control__indicator {
  border-radius: 50%;
}

input[type='radio'] + .custom-control__indicator::before {
  width: 10px;
  height: 10px;
  -webkit-transform: scale(.5);
  transform: scale(.5);
  border-radius: 50%;
  background-color: currentColor;
}

input[type='radio']:checked + .custom-control__indicator::before {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.custom-control__text {
  line-height: 18px;
  vertical-align: middle;
}

/* Custom select */

.custom-select {
  position: relative;
  display: inline-block;
  -webkit-transition: background-color .18s, color .18s;
  transition: background-color .18s, color .18s;
  vertical-align: middle;
  border-radius: 50px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, .2);
}

.custom-select::after {
  position: absolute;
  top: 16px;
  right: 16px;
  content: '';
  pointer-events: none;
  border-top: 5px solid currentColor;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.custom-select:hover {
  color: #323232;
  background-color: #fff;
}

.custom-select select {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  height: 36px;
  padding: 8px 16px;
  padding-right: 32px;
  -webkit-transition: background-color .18s;
  transition: background-color .18s;
  color: currentColor;
  border: none;
  outline: none;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.custom-select select::-ms-expand {
  display: none;
}

.custom-select option {
  font-weight: normal;
  color: #323232;
}

/* Custom range */

.custom-range {
  position: relative;
  min-width: 188px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #f8f7f4;
}

.custom-range__scale {
  height: 4px;
  background-color: rgb(248, 247, 244);
  background-color: rgba(248, 247, 244, .5);
}

.custom-range__bar {
  width: 50%;
  height: 100%;
  margin-left: 15%;
  background-color: currentColor;
}

.custom-range__toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20px;
  height: 20px;
  margin: auto;
  margin-left: -10px;
  cursor: pointer;
  -webkit-transition: width .18s, height .18s;
  transition: width .18s, height .18s;
  -webkit-transition: -webkit-transform .18s;
  transition: -webkit-transform .18s;
  transition: transform .18s;
  transition: transform .18s, -webkit-transform .18s;
  border-radius: 50%;
  background-color: currentColor;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
}

.custom-range__toggle:hover {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}

.custom-range__toggle--min {
  left: 15%;
}

.custom-range__toggle--max {
  left: 65%;
}

/*=====  End of Form's elements  ======*/

/*=============================
=            Modal            =
=============================*/

.modal,
.modal-overlay {
  display: none;
}

.modal {
  position: fixed;
  z-index: 20;
  top: 50%;
  right: 0;
  left: 0;
  max-width: 430px;
  margin: auto;
  padding: 20px 25px 27px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #323232;
  border-radius: 10px;
  background-color: #f8f7f4;
}

.modal--opened,
.modal-overlay--opened {
  display: block;
}

.modal--opened {
  -webkit-animation: scale-up .5s ease-out;
  animation: scale-up .5s ease-out;
}

.modal--error {
  -webkit-animation: shake .6s;
  animation: shake .6s;
}

.modal__close {
  font-size: 0;
  position: absolute;
  top: 16px;
  right: 16px;
  overflow: hidden;
  width: 20px;
  height: 20px;
  padding: 0;
  cursor: pointer;
  -webkit-transition: color .15s;
  transition: color .15s;
  text-indent: -1000px;
  border: none;
  outline: none;
  background: none;
}

.modal__close:hover {
  color: #e84d37;
}

.modal__close::before,
.modal__close::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 22px;
  height: 2px;
  margin: auto;
  content: '';
  background-color: currentColor;
}

.modal__close::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal__close::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.modal__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  margin: 0;
  margin-bottom: 20px;
  padding-right: 30px;
}

.modal-overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, .3);
}

@-webkit-keyframes scale-up {
  0% {
    -webkit-transform: scale(.2) translateY(-50%);
    transform: scale(.2) translateY(-50%);
  }

  55% {
    -webkit-transform: scale(1.05) translateY(-50%);
    transform: scale(1.05) translateY(-50%);
  }

  75% {
    -webkit-transform: scale(.95) translateY(-50%);
    transform: scale(.95) translateY(-50%);
  }

  100% {
    -webkit-transform: scale(1) translateY(-50%);
    transform: scale(1) translateY(-50%);
  }
}

@keyframes scale-up {
  0% {
    -webkit-transform: scale(.2) translateY(-50%);
    transform: scale(.2) translateY(-50%);
  }

  55% {
    -webkit-transform: scale(1.05) translateY(-50%);
    transform: scale(1.05) translateY(-50%);
  }

  75% {
    -webkit-transform: scale(.95) translateY(-50%);
    transform: scale(.95) translateY(-50%);
  }

  100% {
    -webkit-transform: scale(1) translateY(-50%);
    transform: scale(1) translateY(-50%);
  }
}

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0) translateY(-50%);
    transform: translateX(0) translateY(-50%);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px) translateY(-50%);
    transform: translateX(-10px) translateY(-50%);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px) translateY(-50%);
    transform: translateX(10px) translateY(-50%);
  }
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0) translateY(-50%);
    transform: translateX(0) translateY(-50%);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px) translateY(-50%);
    transform: translateX(-10px) translateY(-50%);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px) translateY(-50%);
    transform: translateX(10px) translateY(-50%);
  }
}

/*=====  End of Modal  ======*/

/*============================
=            Grid            =
============================*/

.grid {
  margin-right: -1.1%;
  margin-left: -1.1%;
}

.grid:after {
  display: table;
  clear: both;
  content: '';
}

[class*='grid__column-'] {
  float: left;
  box-sizing: border-box;
  padding-right: 1.1%;
  padding-left: 1.1%;
}

.grid__column-1 {
  width: 25%;
}

.grid__column-2 {
  width: calc(25% * 2);
}

.grid__column-3 {
  width: calc(25% * 3);
}

.grid__column-4 {
  width: calc(25% * 4);
}

/*=====  End of Grid  ======*/

/*===================================
=            Main header            =
===================================*/

.main-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  padding-top: 10px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.homepage .main-header {
  margin-bottom: 0;
}

.main-header__column-left {
  max-width: 550px;
}

.main-header__column-right {
  position: relative;
  max-width: 280px;
}

.logo {
  margin-right: 16px;
  margin-left: -5px;
}

.phone-header {
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  position: absolute;
  z-index: 1;
  top: 100%;
  right: 0;
  margin-top: 15px;
  margin-bottom: 0;
  padding-right: inherit;
  text-align: right;
}

.phone-header span {
  font-size: 22px;
  line-height: 24px;
  display: block;
  margin-top: 7px;
}

/*=====  End of Main header  ======*/

/*=======================================
=            Main navigation            =
=======================================*/

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-navigation > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.main-navigation a {
  display: block;
  text-decoration: none;
}

.main-navigation__item {
  position: relative;
  border-radius: 30px;
}

.main-navigation__item:last-child {
  margin-right: 0;
}

.main-navigation__link {
  font-weight: bold;
  position: relative;
  padding: 5px 13px;
  -webkit-transition: background-color .15s, color .15s, box-shadow .15s;
  transition: background-color .15s, color .15s, box-shadow .15s;
  color: #fff;
  border-radius: inherit;
  outline: none;
}

.main-navigation__item:hover .main-navigation__link,
.main-navigation__link:focus {
  color: #323232;
  background-color: #f7f6f3;
}

.main-navigation__link:active {
  color: #333;
  background-color: #ededed;
  box-shadow: inset 0 2px 1px #696969;
}

.main-navigation__item--active .main-navigation__link,
.main-navigation__item--active:hover .main-navigation__link {
  cursor: default;
  color: #fff;
  background-color: #d07058;
  box-shadow: none;
}

.main-navigation__link::before {
  position: absolute;
  right: 13px;
  bottom: 5px;
  left: 13px;
  height: 1px;
  content: '';
  border-top: 1px solid rgba(255, 255, 255, .2);
}

.main-navigation__item--active .main-navigation__link::before,
.main-navigation__link:hover::before,
.main-navigation__link:focus::before {
  border-top-color: transparent;
}

.submenu {
  font-size: 14px;
  line-height: 16px;
  left: -7px;
  margin: 0;
  margin-top: 5px;
  padding: 0;
  list-style: none;
  white-space: nowrap;
}

.main-navigation__link:focus + .submenu {
  visibility: visible;
  -webkit-transition: opacity .2s, visibility 0s, -webkit-transform .2s;
  transition: opacity .2s, visibility 0s, -webkit-transform .2s;
  transition: transform .2s, opacity .2s, visibility 0s;
  transition: transform .2s, opacity .2s, visibility 0s, -webkit-transform .2s;
  -webkit-transform: none;
  transform: none;
  opacity: 1;
}

.submenu__link {
  padding: 6px 20px;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

.submenu__item:first-child .submenu__link {
  border-radius: 6px 6px 0 0;
}

.submenu__item:last-child .submenu__link {
  border-radius: 0 0 6px 6px;
}

.submenu__link:hover,
.submenu__link:focus {
  background-color: #fbded8;
}

.submenu__link:active {
  background-color: #f6b5a5;
}

.submenu__item--active .submenu__link {
  cursor: default;
  color: #fff;
  background-color: #d07058;
}

.submenu__item--special .submenu__link {
  font-weight: bold;
  position: relative;
  padding-top: 11px;
  padding-bottom: 11px;
}

.submenu__item--special .submenu__link::after {
  position: absolute;
  right: 8px;
  bottom: 0;
  left: 8px;
  content: '';
  border-bottom: 1px solid rgba(53, 53, 53, .2);
}

/*=====  End of Main navigation  ======*/

/*========================================
=            Dashboard header            =
========================================*/

.dashboard-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.dashboard-header .dropdown {
  right: 0;
}

.dashboard-header__item {
  margin-right: 10px;
}

.dashboard-header__item:last-child {
  margin-right: 0;
}

.dashboard-header__control {
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 32px;
  display: block;
  box-sizing: border-box;
  min-width: 32px;
  padding: 0 16px;
  cursor: default;
  -webkit-transition: background-color .2s, color .2s;
  transition: background-color .2s, color .2s;
  white-space: nowrap;
  text-decoration: none;
  color: currentColor;
  border: none;
  border-radius: 50px;
  outline: none;
  background-color: #fff;
  background-color: rgba(255, 255, 255, .2);
}

.dashboard-header__item:hover .dashboard-header__control {
  color: #323232;
  background-color: #f8f7f4;
}

.trigger-search {
  padding-right: 0;
  padding-left: 0;
  text-align: center;
}

.trigger-search .icon {
  width: 16px;
  height: 16px;
}

.trigger-login .icon,
.trigger-cart .icon {
  width: 20px;
  height: 19px;
  margin-right: 5px;
}

.trigger-cart {
  min-width: 117px;
}

.trigger-cart .icon {
  -webkit-transition: fill .18s;
  transition: fill .18s;
  color: transparent;
  fill: #fff;
}

.trigger-cart:hover .icon {
  color: transparent;
  fill: #323232;
}

.trigger-cart--has-product {
  color: #323232;
  background-color: #f8f7f4;
}

.trigger-cart--has-product .icon,
.trigger-cart--has-product:hover .icon {
  color: #e84d37;
  fill: #323232;
}

/*=====  End of Dashboard header  ======*/

/*===================================
=            Search form            =
===================================*/

.search-form input[type='search'] {
  min-width: 310px;
}

/*=====  End of Search form  ======*/

/*==================================
=            Login form            =
==================================*/

.login-form input[type='email'],
.login-form input[type='password'] {
  min-width: 240px;
  margin-bottom: 20px;
}

.login-form a {
  line-height: 24px;
  text-decoration: none;
  border-bottom: 1px solid rgba(50, 50, 50, .3);
}

.login-form a:hover {
  color: #e84d37;
  border-bottom-color: rgba(232, 77, 55, .3);
}

.login-form__footer {
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.login-form__column-left {
  margin-right: 20px;
}

/*=====  End of Login form  ======*/

/*=====================================
=            Feedback form            =
=====================================*/

.feedback-form::after {
  display: table;
  clear: both;
  content: '';
}

.feedback-form input[type='text'],
.feedback-form input[type='email'],
.feedback-form textarea {
  margin-bottom: 20px;
}

.feedback-form input[type='text'],
.feedback-form input[type='email'] {
  width: 267px;
}

.feedback-form .button {
  float: right;
}

/*=====  End of Feedback form  ======*/

/*==============================
=            Slider            =
==============================*/

.alt-control-slider {
  display: none;
}

.site-wrapper {
  -webkit-transition: background-image .45s, background-color .45s .05s;
  transition: background-image .45s, background-color .45s .05s;
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.site-wrapper::before {
  visibility: hidden;
  content: '';
  background-image: url("../img/slider/slide-01.png"),
    url("../img/slider/slide-02.png"),
    url("../img/slider/slide-03.png");
}

input[id='slide-1']:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider/slide-01.png");
}

input[id='slide-2']:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider/slide-02.png");
}

input[id='slide-3']:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider/slide-03.png");
}

.slider {
  position: relative;
  padding-top: 320px;
  text-align: center;
  color: #fff;
}

.slide {
  display: none;
}

input[id='slide-1']:checked ~ .site-wrapper .slide:nth-child(1),
input[id='slide-2']:checked ~ .site-wrapper .slide:nth-child(2),
input[id='slide-3']:checked ~ .site-wrapper .slide:nth-child(3) {
  display: block;
}

.slide__title {
  font-size: 60px;
  font-weight: bold;
  line-height: 1;
  max-width: 700px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
}

.slide .button {
  font-size: 32px;
  line-height: 44px;
  max-width: 250px;
  padding-right: 40px;
  padding-left: 40px;
  background: -webkit-linear-gradient(top, #f26843, #e74a35);
  background: linear-gradient(to bottom, #f26843, #e74a35);
  box-shadow: 0 2px 2px rgba(172, 16, 0, .64);
  text-shadow: 0 2px 2px rgba(160, 32, 11, .76);
}

.slide .button:hover,
.slide .button:focus {
  background: -webkit-linear-gradient(top, #f58669, #ec6f5e);
  background: linear-gradient(to bottom, #f58669, #ec6f5e);
  box-shadow: 0 2px 2px #ac1000;
}

.slide .button:active {
  background: -webkit-linear-gradient(top, #d74632, #e1613e);
  background: linear-gradient(to bottom, #d74632, #e1613e);
  box-shadow: inset 0 2px 2px #942718;
}

.slider-controls {
  font-size: 0;
  position: absolute;
  z-index: 2;
  bottom: 20px;
  max-width: 300px;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}

.slider-controls label {
  display: inline-block;
  overflow: hidden;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  cursor: pointer;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
  vertical-align: middle;
  text-indent: -1000px;
  border: 2px solid;
  border-radius: 50%;
}

.slider-controls label:hover {
  background-color: #fff;
  background-color: rgba(255, 255, 255, .2);
}

.slider-controls label:active,
input[id='slide-1']:checked ~ .site-wrapper label[for='slide-1'],
input[id='slide-2']:checked ~ .site-wrapper label[for='slide-2'],
input[id='slide-3']:checked ~ .site-wrapper label[for='slide-3'] {
  background-color: #fff;
}

/*=====  End of Slider  ======*/

/*===================================
=            Breadcrumbs            =
===================================*/

.breadcrumbs {
  font-size: 14px;
  line-height: 16px;
  max-width: 70%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs::after {
  display: table;
  clear: both;
  content: '';
}

.breadcrumbs li {
  position: relative;
  float: left;
  padding-right: 22px;
}

.breadcrumbs li::after {
  position: absolute;
  right: 8px;
  content: '»';
}

.breadcrumbs .current::after {
  content: none;
}

.breadcrumbs a {
  -webkit-transition: border-bottom-color .18s, color .18s;
  transition: border-bottom-color .18s, color .18s;
  vertical-align: middle;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
  outline: none;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: #ffbc9e;
  border-bottom-color: rgba(255, 188, 158, .3);
}

/*=====  End of Breadcrumbs  ======*/

/*==================================
=            Pagination            =
==================================*/

.pagination {
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: default;
  text-align: right;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.pagination a {
  line-height: 25px;
  min-width: 25px;
  height: 25px;
  margin-left: 3px;
  -webkit-transition: color .2s, background-color .2s;
  transition: color .2s, background-color .2s;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.pagination a:hover {
  background-color: #fff;
  background-color: rgba(255, 255, 255, .2);
}

.pagination .current,
.pagination .current:hover,
.pagination a:active {
  color: #323232;
  background-color: #fff;
}

.pagination .current {
  cursor: default;
}

.pagination .prev,
.pagination .next {
  font-size: 0;
  position: relative;
  overflow: hidden;
  min-width: 8px;
  text-indent: -1000px;
  border-radius: 0;
  background-repeat: no-repeat;
  background-position: 50%;
}

.pagination .prev:hover,
.pagination .next:hover {
  background-color: transparent;
}

.pagination .prev {
  margin-right: 15px;
  margin-left: 0;
  background-image: url("../img/svg-icons/control-prev.svg");
}

.pagination .next {
  margin-left: 15px;
  background-image: url("../img/svg-icons/control-next.svg");
}

.pagination .disabled {
  cursor: default;
  opacity: .2;
}

/*=====  End of Pagination  ======*/

/*=====================================
=            Products grid            =
=====================================*/

.products-grid {
  font-size: 0;
  margin-right: -1.1%;
  margin-bottom: 50px;
  margin-left: -1.1%;
}

/*=====  End of Products grid  ======*/

/*===============================
=            Product            =
===============================*/

.product {
  font-size: 1rem;
  position: relative;
  z-index: 0;
  display: inline-block;
  box-sizing: border-box;
  width: 25%;
  margin-bottom: -50px;
  padding: 9px 1.1% 22px;
  -webkit-transition: background-color .2s, z-index 0s .1s;
  transition: background-color .2s, z-index 0s .1s;
  text-align: center;
  vertical-align: top;
  border-radius: 5px;
}

.product:hover {
  z-index: 1;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
  background-color: #fff;
  background-color: rgba(255, 255, 255, .3);
  box-shadow: 0 20px 20px rgba(0, 0, 0, .15);
}

.product .button {
  margin-top: 10px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-transition: opacity .2s, background-color .2s;
  transition: opacity .2s, background-color .2s;
  opacity: 0;
  color: #fff;
}

.product:hover .button {
  opacity: 1;
}

.product__box-wrapper {
  position: relative;
  margin-bottom: 13px;
}

.product__image-wrapper {
  overflow: hidden;
  /*width: 267px;*/
  /*height: 267px;*/
  height: 0;
  padding-top: 100%;
  border-radius: 50%;
  background-color: #616161;
}

.product__image-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.product__price {
  font-size: 30px;
  font-weight: bolder;
  line-height: 1;
  position: absolute;
  bottom: 15px;
  left: 0;
  text-shadow: 1px 1px 3px rgba(49, 50, 53, .5);
}

.product__price span {
  font-size: 45px;
}

.product__badge {
  font-size: 0;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 61px;
  height: 61px;
  text-indent: -1000px;
  border-radius: 50%;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.product__badge--type-hit {
  background-image: url("../img/badge-hit.svg");
}

.product__name {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  margin: 0;
}

.product__name a {
  display: block;
  text-decoration: none;
  color: #fff;
}

.product__name span {
  -webkit-transition: border-bottom-color .18s, color .18s;
  transition: border-bottom-color .18s, color .18s;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.product:hover span {
  border-bottom-color: transparent;
}

/*=====  End of Product  ======*/

/*=============================
=            Promo            =
=============================*/

.promo {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 30px;
  padding: 20px;
  padding-bottom: 24px;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

.promo--jam {
  background-color: #6d2836;
  background-image: url("../img/bg-promo-jam.jpg");
}

.promo--chocolate {
  background-color: #44291d;
  background-image: url("../img/bg-promo-chocolate.jpg");
}

.promo h2 {
  font-size: 35px;
  line-height: 41px;
  margin-top: 0;
  margin-bottom: 15px;
}

.promo p {
  margin-top: 0;
  margin-bottom: 40px;
}

.promo .button {
  float: right;
}

/*=====  End of Promo  ======*/

/*============================
=            Hits            =
============================*/

.hits {
  margin-bottom: 75px;
}

/*=====  End of Hits  ======*/

/*================================
=            Features            =
================================*/

.features {
  padding: 27px 20px 15px;
  color: #323232;
  border-radius: 10px;
  background: #ebdec2 url("../img/bg-pattern-wafer.jpg");
}

.features > p {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  max-width: 90%;
  margin-top: 0;
}

.features-list {
  font-size: 0;
  margin: 0;
  margin-bottom: -25px;
  padding: 0;
  list-style: none;
}

.features-list li {
  font-size: 16px;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 48.8%;
  margin-right: 2.2%;
  margin-bottom: 25px;
  padding-left: 57px;
  vertical-align: top;
}

.features-list li:nth-child(2n) {
  margin-right: 0;
}

.features-list li::before {
  position: absolute;
  top: -15px;
  left: 0;
  width: 47px;
  height: 47px;
  content: '';
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 47px 47px;
}

.features-list .icecream::before {
  background-image: url("../img/svg-icons/icecream.svg");
}

.features-list .cow::before {
  background-image: url("../img/svg-icons/cow.svg");
}

.features-list .leaf::before {
  background-image: url("../img/svg-icons/leaf.svg");
}

.features-list .thermometer::before {
  background-image: url("../img/svg-icons/thermometer.svg");
}

/*=====  End of Features  ======*/

/*====================================
=            News preview            =
====================================*/

.news-preview {
  box-sizing: border-box;
  min-height: 220px;
  padding: 24px 20px;
  color: #353535;
  border-radius: 15px;
  background: #fff url("../img/bg-news-preview.jpg") no-repeat 100% 50%;
  background-size: cover;
}

.news-preview h2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 5px;
  color: #5a5a5a;
}

.news-preview h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  max-width: 300px;
  margin: 0;
}

.news-preview a {
  padding-top: 1px;
  padding-right: 10px;
  padding-bottom: 1px;
  -webkit-transition: color .2s;
  transition: color .2s;
  background-color: #fff;
  background-color: rgba(255, 255, 255, .8);
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.news-preview a:hover,
.news-preview a:focus {
  color: #e84d37;
}

/*=====  End of News preview  ======*/

/*=================================
=            Subscribe            =
=================================*/

.subscribe {
  padding: 5px;
  color: #5a5a5a;
  border-radius: 15px;
  background: #f8f7f4 url("../img/bg-pattern-strip.png") 3px 0;
}

.subscribe__inner {
  position: relative;
  box-sizing: border-box;
  min-height: 210px;
  padding: 30px 20px 80px;
  border-radius: 10px;
  background-color: #f8f7f4;
}

.subscribe__inner p {
  margin-top: 0;
  margin-bottom: 10px;
}

.subscribe-form {
  position: absolute;
  right: 20px;
  bottom: 35px;
  left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe-form .floating-label {
  font-size: 16px;
  margin-right: 11px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.subscribe-form .button {
  max-width: 135px;
}

/*=====  End of Subscribe  ======*/

/*================================
=            Contacts            =
================================*/

.contacts {
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
}

.contacts-map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #d7dfd8 url("../img/bg-contacts-map.png") no-repeat center;
  background-color: #d7dfd8;
}

.contacts-info {
  font-size: 14px;
  position: relative;
  float: right;
  width: 250px;
  padding: 32px 25px;
  color: #323232;
  border-radius: 15px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, .98);
}

.contacts-info p {
  margin: 0;
}

.contacts-info p + p {
  margin-top: 20px;
}

.contacts-info span {
  display: block;
}

.contacts-info b {
  font-size: 18px;
  line-height: 24px;
  display: block;
  margin-top: 2px;
  margin-bottom: 2px;
}

.contacts-info .button {
  box-sizing: border-box;
  width: 100%;
  margin-top: 28px;
}

/*=====  End of Contacts  ======*/

/*===================================
=            Filter form            =
===================================*/

.filter-form {
  margin-bottom: 35px;
}

.filter-form__row:last-child {
  margin-bottom: -10px;
}

.filter-form__section {
  display: inline-block;
  margin: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 0;
  vertical-align: bottom;
  border: none;
}

.filter-form__section:last-child {
  margin-right: 0;
}

.filter-form__section--sort {
  max-width: 200px;
}

.filter-form__section--price {
  max-width: 225px;
}

.filter-form__section--fat {
  max-width: 425px;
}

.filter-form__section--filler {
  max-width: 705px;
}

.filter-form__section-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  display: inline-block;
  margin-bottom: 6px;
  margin-left: 16px;
}

.filter-form__panel {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  padding: 8px 16px;
  border: none;
  border-radius: 50px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, .2);
}

input[name='filter-price-min'],
input[name='filter-price-max'] {
  font-size: 1em;
  font-weight: inherit;
  line-height: 14px;
  width: auto;
  width: 35px;
  height: auto;
  padding: 0;
  text-align: center;
  color: currentColor;
  border: none;
  border-radius: 0;
  outline: none;
  background: none;
}

input[name='filter-price-min']:hover,
input[name='filter-price-min']:focus,
input[name='filter-price-max']:hover,
input[name='filter-price-max']:focus {
  box-shadow: none;
}

.filter-form__button {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  max-width: 150px;
  margin-bottom: 10px;
  padding: 9px 30px;
  -webkit-transition: background-color .2s, color .2s, box-shadow .2s;
  transition: background-color .2s, color .2s, box-shadow .2s;
  border-radius: 50px;
  background: #fff;
  background: rgba(255, 255, 255, .2);
  box-shadow: inset 0 0 0 2px #fff;
}

.filter-form__button:hover,
.filter-form__button:focus {
  color: #323232;
  background: #fff;
  box-shadow: inset 0 0 0 2px #fff;
}

.filter-form__button:active {
  color: #323232;
  background: #ededed;
  box-shadow: inset 0 2px 0 1px #696969;
}

/*=====  End of Filter form  ======*/

/*============================
=            Cart            =
============================*/

.cart {
  max-width: 550px;
}

.cart::after {
  display: table;
  clear: both;
  content: '';
}

.cart-products-list {
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 16px;
  border-collapse: collapse;
  border-bottom: 1px solid #cacac7;
}

.cart-products-list td {
  padding: 10px 15px;
  vertical-align: baseline;
}

.cart-products-list td:nth-child(-n + 3) {
  padding-left: 0;
}

.cart-product {
  white-space: nowrap;
}

.cart-product span {
  color: #999;
}

.cart-product__delete {
  font-size: 0;
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 13px;
  height: 13px;
  padding: 0;
  cursor: pointer;
  -webkit-transition: color .15s;
  transition: color .15s;
  vertical-align: middle;
  text-indent: -1000px;
  color: #353535;
  outline: none;
}

.cart-product__delete:hover {
  color: #e84d37;
}

.cart-product__delete::before,
.cart-product__delete::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 13px;
  height: 2px;
  margin: auto;
  content: '';
  background-color: currentColor;
}

.cart-product__delete::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cart-product__delete::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.cart-product__image-wrapper {
  overflow: hidden;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: #616161;
}

.cart-product__name {
  width: 216px;
  white-space: normal;
}

.cart__total-sum {
  font-size: 15px;
  line-height: 18px;
  padding-bottom: 16px;
  text-align: right;
}

.cart .button {
  float: right;
}

/*=====  End of Cart  ======*/

/*===================================
=            Main footer            =
===================================*/

.main-footer {
  font-size: 13px;
  line-height: 18px;
  position: relative;
  margin-top: 25px;
  padding-bottom: 20px;
}

.main-footer::before {
  display: block;
  padding-bottom: 20px;
  content: '';
  border-top: 1px solid rgba(255, 255, 255, .3);
}

.homepage .main-footer {
  margin-top: 20px;
}

.homepage .main-footer::before {
  content: none;
}

.socials-footer {
  margin-top: 15px;
}

.socials-footer {
  font-size: 0;
  cursor: default;
}

.socials-footer a {
  display: inline-block;
  overflow: hidden;
  width: 31px;
  height: 31px;
  margin-left: 12px;
  -webkit-transition: border-color .2s;
  transition: border-color .2s;
  vertical-align: middle;
  text-indent: -1000px;
  border: 3px solid rgba(255, 255, 255, .5);
  border-radius: 50%;
}

.socials-footer a:first-child {
  margin-left: 0;
}

.socials-footer a::before {
  display: block;
  overflow: hidden;
  height: 100%;
  content: '';
  -webkit-transition: opacity .15s, box-shadow .15s;
  transition: opacity .15s, box-shadow .15s;
  text-indent: -1000px;
  opacity: .8;
  border-radius: inherit;
  outline: none;
  background-repeat: no-repeat;
  background-position: center;
}

.socials-footer .social-tw::before {
  background-image: url("../img/svg-icons/social-tw.svg");
}

.socials-footer .social-ig::before {
  background-image: url("../img/svg-icons/social-ig.svg");
}

.socials-footer .social-fb::before {
  background-image: url("../img/svg-icons/social-fb.svg");
}

.socials-footer .social-vk::before {
  background-image: url("../img/svg-icons/social-vk.svg");
}

.socials-footer a:hover {
  border-color: rgba(255, 255, 255, .7);
}

.socials-footer a:hover::before,
.socials-footer a:focus::before,
.socials-footer a:active::before {
  opacity: 1;
}

.socials-footer a:active::before {
  box-shadow: inset 0 2px 1px #888;
  fill-opacity: 1;
}

.navigation-footer {
  width: 55%;
  margin: 15px auto -5px;
  padding: 0;
  list-style: none;
}

.navigation-footer::after {
  display: table;
  clear: both;
  content: '';
}

.navigation-footer li {
  float: left;
  width: 50%;
  margin-bottom: 5px;
  white-space: nowrap;
}

.navigation-footer a,
.developer-text a {
  -webkit-transition: border-bottom-color .18s, color .18s;
  transition: border-bottom-color .18s, color .18s;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.navigation-footer a:hover,
.developer-text a:hover {
  color: #ffbc9e;
  border-bottom-color: rgba(255, 188, 158, .3);
}

.navigation-footer .special-item {
  font-weight: bold;
  position: relative;
}

.navigation-footer .icon {
  position: absolute;
  top: 2px;
  right: 100%;
  width: 14px;
  height: 13px;
  margin-right: 7px;
}

.developer-footer {
  font-size: 12px;
  line-height: 16px;
  float: right;
}

.developer-footer p {
  margin-top: 9px;
  margin-bottom: 0;
  white-space: nowrap;
}

/*=====  End of Main footer  ======*/