body {
  margin: 0;
  font-size: 16px;
  line-height: 1.375;
  font-weight: normal;
  font-family: "Roboto", "Arial", "Helvetica", sans-serif;
  color: #fff;
  min-width: 900px;
  background-color: #849d8f;
}

h1,
h2 {
  font-family: "Roboto", "Arial", "Helvetica", sans-serif;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 24px;
}

main > h1 {
  margin-top: 0;
  margin-bottom: 30px;
}

a {
  color: currentColor;
}

a:hover,
a:active {
  /*color: #ffbc9e;*/
}

a:active {
  /*color: #ffbc9e;*/
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.container {
  max-width: 860px;
  max-width: 1146px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2.3%;
  padding-right: 2.3%;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.slider,
.promo,
.hits,
.features,
.news-preview,
.subscribe,
.catalog {
  margin-bottom: 40px;
}




/*================================
=            Dropdown            =
================================*/

.dropdown-trigger {
  position: relative;
}

.dropdown {
  padding: 20px 15px;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  transform: translateY(15px);
  background-color: #f8f7f4;
  color: #323232;
  transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  z-index: 1;
  border-radius: 6px;
}

.dropdown-trigger:hover .dropdown {
  transform: none;
  opacity: 1;
  visibility: visible;
  transition: transform 0.2s, opacity 0.2s, visibility 0s;
}

/*=====  End of Dropdown  ======*/





/*===============================
=            Buttons            =
===============================*/

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  border: none;
  background: #ec583c;
  background: linear-gradient(to bottom, #f26843, #ca3824);
  border-radius: 50px;
  text-decoration: none;
  user-select: none;
  transition: all 0.15s;
  font-weight: bold;
  outline: none;
  box-shadow: 0 2px 2px rgba(85, 8, 0, 0.64);
}

.button:hover,
.button:focus {
  background: #ee7561;
  background: linear-gradient(to bottom, #f58669, #ec6f5e);
  box-shadow: 0 1px 2px #ac1000;
}

.button:active {
  background: #dc5539;
  background: linear-gradient(to bottom, #d74632, #e1613e);
  box-shadow: inset 0 2px 2px #942718;
}

/*=====  End of Buttons  ======*/




/*=======================================
=            Form's elements            =
=======================================*/

input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"] {
  padding: 9px 15px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  box-sizing: border-box;
  font-size: 14px;
  line-height: 24px;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  transition: border-color 0.2s, box-shadow 0.2s;
}

input[type="text"]:hover,
input[type="password"]:hover,
input[type="search"]:hover,
input[type="email"]:hover {
  box-shadow: inset 0 0 0 1px rgba(178, 178, 178, 0.52);
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="email"]:focus {
  border-color: rgba(46, 136, 228, 0.52);
  box-shadow: inset 0 0 0 1px rgba(46, 136, 228, 0.52);
}


/*=====  End of Form's elements  ======*/






/*============================
=            Grid            =
============================*/

.grid {
  margin-left: -1.1%;
  margin-right: -1.1%;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

[class*="grid__column-"] {
  float: left;
  padding-left: 1.1%;
  padding-right: 1.1%;
  box-sizing: border-box;
}

.grid__column-1 {
  width: 25%;
}

.grid__column-2 {
  width: calc(25% * 2);
}

.grid__column-3 {
  width: calc(25% * 3);
}

.grid__column-4 {
  width: calc(25% * 4);
}

/*=====  End of Grid  ======*/





/*===================================
=            Main header            =
===================================*/

.main-header {
  padding-top: 10px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

.main-header__column-left {
  max-width: 550px;
  display: flex;
  align-items: center;
}

.main-header__column-right {
  max-width: 280px;
  position: relative;
}

/*=====  End of Main header  ======*/




.logo {
  float: left;
  margin-right: 16px;
}

.phone-header {
  position: absolute;
  right: 0;
  top: 100%;
  margin-top: 20px;
  margin-bottom: 0;
  padding-right: inherit;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  text-align: right;
}

.phone-header span {
  display: block;
  margin-top: 7px;
  font-size: 22px;
  line-height: 24px;
}




/*=======================================
=            Main navigation            =
=======================================*/

.main-navigation {
  float: left;
}

.main-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-navigation a {
  display: block;
  text-decoration: none;
}

.main-navigation__item {
  padding-bottom: 5px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  border-radius: 30px;
}

.main-navigation__item:last-child {
  margin-right: 0;
}

.main-navigation__link {
  padding: 5px 13px;
  border-radius: inherit;
  font-weight: bold;
  color: #ffffff;
  transition: background-color 0.15s, color 0.15s;
  outline: none;
}

.main-navigation__link span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.main-navigation__item:hover .main-navigation__link,
.main-navigation__link:focus {
  background-color: #f7f6f3;
  color: #323232;
}

.main-navigation__item--active .main-navigation__link {
  background-color: #d07058;
}

.main-navigation__item--active span,
.main-navigation__item:hover .main-navigation__link span,
.main-navigation__link:focus span {
  border-bottom-color: transparent;
}

.submenu {
  left: -7px;
  font-size: 14px;
  line-height: 16px;
  white-space: nowrap;
}

/*.main-navigation__item:hover .dropdown,*/
.main-navigation__link:focus + .submenu {
  transform: none;
  opacity: 1;
  visibility: visible;
  transition: transform 0.2s, opacity 0.2s, visibility 0s;
}

.submenu__link {
  padding: 6px 20px;
}

.submenu__item:first-child .submenu__link {
  border-radius: 6px 6px 0 0;
}

.submenu__item:last-child .submenu__link {
  border-radius: 0 0 6px 6px;
}

.submenu__item:hover .submenu__link,
.submenu__link:focus {
  background-color: #fbded8;
}

.submenu__item--special .submenu__link {
  position: relative;
  padding-top: 11px;
  padding-bottom: 11px;
  font-weight: bold;
}

.submenu__item--special .submenu__link:after {
  content: "";
  position: absolute;
  border-bottom: 1px solid rgba(53, 53, 53, 0.2);
  bottom: 0;
  left: 8px;
  right: 8px;
}

/*=====  End of Main navigation  ======*/





/*========================================
=            Dashboard header            =
========================================*/

.dashboard-header {
  display: flex;
  align-items: center;
}

.dashboard-header .dropdown {
  right: 0;
}

.dashboard-header__item {
  margin-right: 10px;
  padding-bottom: 5px;
}

.dashboard-header__item:last-child {
  margin-right: 0;
}

.dashboard-header__control {
  display: block;
  padding: 6px 16px;
  text-decoration: none;
  border: none;
  font-size: 14px;
  color: currentColor;
  font-family: inherit;
  font-weight: 500;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  outline: none;
}

.dashboard-header__item:hover .dashboard-header__control {
  background-color: #ffffff;
  color: #323232;
}

.trigger-cart {

}

.trigger-cart--has-product {
  background-color: #ffffff;
  color: #323232;
}

/*=====  End of Dashboard header  ======*/





/*===================================
=            Search form            =
===================================*/

.search-form {

}

.search-form input[type="search"] {
  min-width: 310px;
}

/*=====  End of Search form  ======*/




/*==================================
=            Login form            =
==================================*/

.login-form {

}

.login-form input[type="email"],
.login-form input[type="password"] {
  min-width: 240px;
  margin-bottom: 20px;
}

.login-form a {
  line-height: 24px;
  border-bottom: 1px solid rgba(50, 50, 50, 0.3);
  text-decoration: none;
}

.login-form a:hover {
  color: #e84d37;
  border-bottom-color: rgba(232, 77, 55, 0.3);
}

.login-form__footer {
  display: flex;
  font-size: 13px;
}

.login-form__column-left {
  margin-right: 20px;
}

.login-form__column-right {

}

/*=====  End of Login form  ======*/





/*==============================
=            Slider            =
==============================*/

.alt-control-slider {
  display: none;
}

input[id="slide-1"]:checked ~ .site-wrapper {
  background-color: #849d8f;
}

input[id="slide-2"]:checked ~ .site-wrapper {
  background-color: #8996a6;
}

input[id="slide-3"]:checked ~ .site-wrapper {
  background-color: #9d8b84;
}

.slider {
  text-align: center;
}

.slider__content {

}

.slider__controls {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}

.slider__controls li {
  display: inline-block;
}

.slider__controls label {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid;
}

.slider figure {
  display: none;
}

input[id="slide-1"]:checked ~ .site-wrapper .slider figure:nth-child(1),
input[id="slide-2"]:checked ~ .site-wrapper .slider figure:nth-child(2),
input[id="slide-3"]:checked ~ .site-wrapper .slider figure:nth-child(3) {
  display: block;
}

.slider figcaption {
  font-size: 60px;
  line-height: 1;
  font-weight: bold;
}

.slider .button {
  font-size: 32px;
  line-height: 44px;
  padding-left: 40px;
  padding-right: 40px;
  text-shadow: 0 2px 2px rgba(160, 32, 11, 0.76);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.slider .button:hover,
.slider .button:focus {
  background: linear-gradient(to bottom, #f58669, #ec6f5e);
  box-shadow: 0 2px 2px #ac1000;
}

.slider .button:active {
  background: linear-gradient(to bottom, #d74632, #e1613e);
  box-shadow: inset 0 2px 2px #942718;
}
/*=====  End of Slider  ======*/





/*===================================
=            Breadcrumbs            =
===================================*/

.breadcrumbs {
  margin-top: 0;
  margin-bottom: 8px;
  padding: 0;
  list-style: none;
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs::after {
  content: "";
  display: table;
  clear: both;
}

.breadcrumbs li {
  float: left;
  position: relative;
}

.breadcrumbs li::after {
  content: "»";
  display: inline-block;
  margin-left: 8px;
  margin-right: 8px;
  vertical-align: middle;
}

.breadcrumbs li:last-child::after {
  content: none;
}

.breadcrumbs a {
  vertical-align: middle;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  text-decoration: none;
  transition: border-bottom-color 0.18s, color 0.18s;
  outline: none;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: #ffbc9e;
  border-bottom-color: rgba(255, 188, 158, 0.3);
}

/*=====  End of Breadcrumbs  ======*/





/*==================================
=            Pagination            =
==================================*/

.pagination {
  text-align: right;
}

.pagination li {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.pagination__control {

}

.pagination__control--prev {

}

.pagination__control--next {

}

.pagination a {

}

/*=====  End of Pagination  ======*/






/*=====================================
=            Products grid            =
=====================================*/

.products-grid {
  margin-left: -1.1%;
  margin-right: -1.1%;
  margin-bottom: 45px;
  font-size: 0;
}

/*=====  End of Products grid  ======*/




/*===============================
=            Product            =
===============================*/

.product {
  width: 25%;
  display: inline-block;
  padding: 10px 1.1% 17px;
  margin-bottom: -45px;
  box-sizing: border-box;
  position: relative;
  vertical-align: top;
  font-size: 1rem;
  border-radius: 5px;
  text-align: center;
  z-index: 0;
  transition: background-color 0.2s, z-index 0s 0.1s;
}

.product:hover {
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.3);
  transition: background-color 0.2s;
}

.product .button {
  opacity: 0;
  color: #ffffff;
  transition: opacity 0.2s, background-color 0.2s;
}

.product:hover .button {
  opacity: 1;
}

.product__box-wrapper {
  position: relative;
}

.product__image-wrapper {
  /*width: 267px;*/
  /*height: 267px;*/
  height: 0;
  padding-top: 100%;
  overflow: hidden;
  border-radius: 50%;
  background-color: #616161;
}

.product__image-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.product__price {
  position: absolute;
  bottom: 20px;
  left: 0;
  font-size: 30px;
  font-weight: bolder;
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
  line-height: 1;
}

.product__price span {
  font-size: 45px;
}

.product__badge {
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 61px;
  font-size: 0;
  background-color: #fff;
  border-radius: 50%;
  text-indent: 150%;
  overflow: hidden;
  background-repeat: no-repeat;
}

.product__badge--type-hit {
  background-image: url("../img/badge-hit.png");
}

.product__name {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}

.product__name a {
  display: block;
  text-decoration: none;
  color: #ffffff;
}

.product__name span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  transition: border-bottom-color 0.18s, color 0.18s;
}

.product:hover span {
  border-bottom-color: transparent;
}

/*=====  End of Product  ======*/





/*=============================
=            Promo            =
=============================*/

.promo {
  padding: 20px;
  padding-bottom: 24px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

.promo--jam {
  background-color: #6d2836;
  background-image: url("../img/bg-promo-jam.jpg");

}

.promo--chocolate {
  background-color: #44291d;
  background-image: url("../img/bg-promo-chocolate.jpg");
}

.promo h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 35px;
  line-height: 41px;
}

.promo p {
  margin-bottom: 20px;
}

.promo .button {
  float: right;
}

/*=====  End of Promo  ======*/





/*============================
=            Hits            =
============================*/

.hits {
  margin-top: -10px;
}

/*=====  End of Hits  ======*/





/*================================
=            Features            =
================================*/

.features {
  padding: 27px 20px;
  color: #323232;
  background: #ebdec2 url("../img/bg-pattern-wafer.jpg");
  border-radius: 10px;
}

.features > p {
  margin-top: 0;
  font-size: 24px;
  line-height: 30px;
  max-width: 90%;
  font-weight: 500;
}

.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.features-list li {
  display: inline-block;
  vertical-align: top;
  width: 48.8%;
  margin-right: 2.2%;
  margin-bottom: 25px;
  font-size: 16px;
}

.features-list li:nth-child(2n) {
  margin-right: 0;
}

/*=====  End of Features  ======*/





/*====================================
=            News preview            =
====================================*/

.news-preview {
  min-height: 220px;
  padding: 24px 20px;
  box-sizing: border-box;
  color: #353535;
  border-radius: 10px;
  background: #fff url("../img/bg-news-preview.jpg") no-repeat 100% 50%;
  background-size: cover;
}

.news-preview h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #5a5a5a;
}

.news-preview h3 {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.news-preview a {
  padding-top: 1px ;
  padding-bottom: 1px;
  padding-right: 10px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background-color: rgba(255, 255, 255, 0.8);
  transition: color 0.2s;
}

.news-preview a:hover,
.news-preview a:focus {
  color: #e84d37;
}

/*=====  End of News preview  ======*/





/*=================================
=            Subscribe            =
=================================*/

.subscribe {
  padding: 5px;
  border-radius: 10px;
  color: #5a5a5a;
  background: #fff url("../img/bg-pattern-strip.png");
  /*background-image: repeating-linear-gradient(-45deg, transparent 0px, transparent 6px, blue 6px, blue 12px, transparent 12px, transparent 18px, red 18px, red 24px, transparent 24px, transparent 30px, blue 36px, blue 42px);*/
}

.subscribe__inner {
  min-height: 210px;
  padding: 30px 20px 35px;
  border-radius: 10px;
  background-color: #f8f7f4;
  box-sizing: border-box;
}

.subscribe__inner p {
  margin-top: 0;
  margin-bottom: 35px;
}

.subscribe-form {
  display: flex;
}

.subscribe-form input[type="email"] {
  display: block;
  flex: 1;
  margin-right: 11px;
}

.subscribe-form .button {
  float: right;
}

/*=====  End of Subscribe  ======*/





/*================================
=            Contacts            =
================================*/

.contacts {
  position: relative;
  background-color: #a5a5a5;
  padding-top: 60px;
  padding-bottom: 60px;
}

.contacts-map {

}

.contacts-info {
  width: 250px;
  float: right;
  padding: 32px 25px;
  background-color: #fff;
  color: #323232;
  border-radius: 15px;
  font-size: 14px;
}

.contacts-info p {
  margin-top: 0;
  margin-bottom: 20px;
}

.contacts-info span {
  display: block;
}

.contacts-info b {
  display: block;
  font-size: 18px;
  line-height: 24px;
}

.contacts-info .button {
  width: 100%;
  box-sizing: border-box;
}

/*=====  End of Contacts  ======*/





/*===================================
=            Filter form            =
===================================*/

.filter-form {

}

.filter-form__row {
  margin-bottom: 18px;
}

.filter-form fieldset {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  border: none;
}

.filter-form legend {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filter-form .form-panel {
  padding: 8px 16px;
  border-radius: 50px;
  border: none;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.2);
}

/*=====  End of Filter form  ======*/





/*============================
=            Cart            =
============================*/

.cart {

}

.cart::after {
  content: "";
  display: table;
  clear: both;
}

.cart-products-list {
  margin-bottom: 16px;
  border-collapse: collapse;
  border-bottom: 1px solid #cacac7;
  font-size: 13px;
  line-height: 16px;
}

.cart-products-list td {
  padding: 10px 15px;
  vertical-align: baseline;
}

.cart-products-list td:nth-child(-n + 3) {
  padding-left: 0;
}

.cart-product {
  white-space: nowrap;
}

.cart-product span {
  color: #999999;
}

.cart-product__delete {

}

.cart-product__image-wrapper {
  overflow: hidden;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: #616161;
}

.cart-product__image-wrapper img {

}

.cart-product__name {
  white-space: normal;
  width: 216px;
}

.cart__total-sum {
  padding-bottom: 16px;
  text-align: right;
  font-size: 15px;
  line-height: 18px;
}

.cart .button {
  float: right;
}

/*=====  End of Cart  ======*/







/*===================================
=            Main footer            =
===================================*/

.main-footer {
  margin-top: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.homepage .main-footer {
  margin-top: 0;
}

.socials-footer,
.navigation-footer {
  margin: 0;
  padding: 0;
  list-style: none;
}

.socials-footer {

}

.socials-footer li {
  display: inline-block;
}

.navigation-footer {
  width: 80%;
}

.navigation-footer li {
  width: 48%;
  display: inline-block;
}

.navigation-footer a,
.developer-footer p a {
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  transition: border-bottom-color 0.18s, color 0.18s;
}

.navigation-footer a:hover,
.developer-footer p a:hover {
  color: #ffbc9e;
  border-bottom-color: rgba(255, 188, 158, 0.3);
}

.navigation-footer .special-item {
  font-weight: bold;
}

/*=====  End of Main footer  ======*/
